<!doctype html>
<html>
<head>
  <title>Race.me</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Imported Stylesheets -->

    <!-- Material Design Lite -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="https://code.getmdl.io/1.1.3/material.indigo-blue.min.css" />

  <!-- Custom Stylesheets -->
  <link rel="stylesheet" href="/css/index.css">

  <!-- Imported Scripts -->
  <script src="https://code.jquery.com/jquery.js"></script>
  <script type="text/javascript" src="js/bootstrap.min.js"></script>

    <!-- Material Design Lite -->
  <script defer src="https://code.getmdl.io/1.1.3/material.min.js"></script>

  <!-- Google Fonts  -->
  <link href='https://fonts.googleapis.com/css?family=Antic+Slab|Port+Lligat+Slab|Slabo+27px' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,200italic,300italic,400italic,600italic' rel='stylesheet' type='text/css'>
</head>

<body>
    {{{body}}}
</body>
</html>
