<!-- Simple header with scrollable tabs. -->
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">

  <header class="mdl-layout__header">
    <div class="mdl-layout__header-row">
      <!-- Title -->
      <span class="mdl-layout-title">Race.me</span>
    </div>
    <!-- Tabs -->
    <div class="mdl-layout__tab-bar mdl-js-ripple-effect">
      <a href="#scroll-tab-1" class="mdl-layout__tab">Home</a>
      <a href="#scroll-tab-2" class="mdl-layout__tab is-active">Mental Health</a>
      <a href="#scroll-tab-3" class="mdl-layout__tab">Obesity</a>
      <a href="#scroll-tab-4" class="mdl-layout__tab">Map</a>
    </div>
  </header>

  <main class="mdl-layout__content">
    <section class="mdl-layout__tab-panel" id="scroll-tab-1">
      <div class="page-content">
        This app will show data visualization that will help correlate race to different health factors and show which are most prominent among different races.
      </div>
    </section>

    <section class="mdl-layout__tab-panel is-active" id="scroll-tab-2">
      <div class="page-content">

        <div class="sidebar-card mdl-card mdl-shadow--8dp">
          <div class="mdl-card__title">
          Mental Health
          </div>
          <div class="mdl-card__supporting-text">
            Lorem ipsum dolor sit amet, enim putent impedit ne sea, no vis nemore alterum inimicus. Eu has adhuc euripidis, paulo nihil at usu. Fierent ocurreret assueverit ut nam. Iuvaret consequat vituperatoribus per eu, nec eripuit salutatus ex. Aliquam suscipit delicata mel cu, labore posidonium nam ea. Maiorum partiendo percipitur et usu.
            </br>
            </br>
            Ne sit utroque hendrerit cotidieque. Verear voluptua eum cu, nam dolorum oporteat ad. Ne wisi illud erroribus vel, vel vulputate percipitur ea. Has vivendo abhorreant deseruisse eu, at qui consul detraxit tincidunt. Quas primis offendit mei et, ullum nonumes similique id eos, partiendo aliquando et mei.
          </div>
        </div>

        <div class="content">
          <center><img src="https://plot.ly/~PlotBot/179/number-of-graphs-made-this-week.png" /> </center>
        </div>

      </div>
    </section>

    <section class="mdl-layout__tab-panel" id="scroll-tab-3">
      <div class="page-content">

        <div class="sidebar-card mdl-card mdl-shadow--8dp">
          <div class="mdl-card__title">
          Obesity
          </div>
          <div class="mdl-card__supporting-text">
            Nam eu insolens prodesset, ne quis amet enim cum. Est at adhuc admodum repudiare, at modo quot inimicus eam. Quo eu ocurreret torquatos. His modo brute cu, ei tale ferri iriure vis, eripuit similique ut sea. Nam ut mazim disputando.
            </br>
            </br>
            Dicant minimum aliquando duo te. Est alia virtute eleifend te, sumo alienum vituperata te eam. Aperiam euripidis eos te. Pro cu nostro perfecto urbanitas, has cu tamquam disputationi, ex velit oporteat vivendum per. Tempor voluptatibus eu cum, eum diam iuvaret ad, nonumy mandamus referrentur quo at.
          </div>
        </div>

        <div class="content">
          </br>
          </br>
          <center><div class="mdl-spinner mdl-spinner--single-color mdl-js-spinner is-active"></div></center>
        </div>

      </div>
    </section>

    <section class="mdl-layout__tab-panel" id="scroll-tab-4">
      <div class="page-content">

        <div class="sidebar-card mdl-card mdl-shadow--8dp">
          <div class="mdl-card__title">
          Map
          </div>
          <div class="mdl-card__supporting-text">
          Support
          </div>
        </div>

        <div class="content">
          </br>
          </br>
          <center><div class="mdl-spinner mdl-spinner--single-color mdl-js-spinner is-active"></div></center>
        </div>


      </div>
    </section>

  </main>
</div>
