<!-- Simple header with scrollable tabs. -->
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">

  <header class="mdl-layout__header">
    <div class="mdl-layout__header-row">
      <!-- Title -->
      <span class="mdl-layout-title">Race.me</span>
    </div>
    <!-- Tabs -->
    <div class="mdl-layout__tab-bar mdl-js-ripple-effect">
      <a href="#scroll-tab-1" class="mdl-layout__tab">Home</a>
      <a href="#scroll-tab-2" class="mdl-layout__tab is-active">Mental Health</a>
      <a href="#scroll-tab-3" class="mdl-layout__tab">Obesity</a>
      <a href="#scroll-tab-4" class="mdl-layout__tab">Map</a>
    </div>
  </header>

  <main class="mdl-layout__content">
    <section class="mdl-layout__tab-panel" id="scroll-tab-1">
      <div class="page-content">
        This app will show data visualization that will help correlate race to different health factors and show which are most prominent among different races.
      </div>
    </section>

    <section class="mdl-layout__tab-panel is-active" id="scroll-tab-2">
      <div class="page-content">

        <div class="sidebar-card mdl-card mdl-shadow--8dp">
          <div class="mdl-card__title">
          Mental Health
          </div>
          <div class="mdl-card__supporting-text">
          Support
          </div>
        </div>

        <div class="content">
          Main Stuff
        </div>

        </br>
        </br>
        <center><div class="mdl-spinner mdl-spinner--single-color mdl-js-spinner is-active"></div></center>
      </div>
    </section>

    <section class="mdl-layout__tab-panel" id="scroll-tab-3">
      <div class="page-content">

        <div class="sidebar-card mdl-card mdl-shadow--8dp">
          <div class="mdl-card__title">
          Obesity
          </div>
          <div class="mdl-card__supporting-text">
          Support
          </div>
        </div>

        <div class="content">
          Main Stuff
        </div>

        </br>
        </br>
        <center><div class="mdl-spinner mdl-spinner--single-color mdl-js-spinner is-active"></div></center>
      </div>
    </section>

    <section class="mdl-layout__tab-panel" id="scroll-tab-4">
      <div class="page-content">

        <div class="sidebar-card mdl-card mdl-shadow--8dp">
          <div class="mdl-card__title">
          Map
          </div>
          <div class="mdl-card__supporting-text">
          Support
          </div>
        </div>

        <div class="content">
          Main Stuff
        </div>

        </br>
        </br>
        <center><div class="mdl-spinner mdl-spinner--single-color mdl-js-spinner is-active"></div></center>
      </div>
    </section>

  </main>
</div>
