.page-content {
  margin: 1em 0;
}

.mdl-layout__tab-bar-container {
  display: inline-block !important;
  position: relative !important;
  left: 65% !important;
}

.mdl-card__title {
  text-align: center !important;
  color: white;
  background-color: #3f51b5 !important;
}

.sidebar-card {
  display: inline-block;
  float: left;
  margin: 1em;
  width: 27%;
  height: 450px;
}

.content {
  display: inline-block;
  background-color: white;
  margin-top: 1em;
  width: 65%;
}

body {
  /*background-color: #D2D6EA*/
}
